body{
	margin: 30px;
	background-image: url(../img/desert.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}


p.test1, p.test3{
	
	background-image: url(../img/2.png);
	width: 24%;
	border: 1px solid red;
	border-radius: 10px 0 10px 0; 
	box-sizing: border-box;
	display: inline-block;
	padding: 10px;
}
p.test2, p.test4{
	
	background-image: url(../img/1.jpg);
	width: 24%;
	border: 1px solid red;
	box-sizing: border-box; 
	display: inline-block;

}
p::first-letter{
	color: red;
	background: white;
	font-size: 17px;
}
.accordion{
	position: relative;
	width: 200px;

}
.accordion input{
	display: none;

}

.accordion div{
	width: 100%;
	overflow: hidden;
	min-height: 0;
	max-height: 0;
	transition: all linear 0.3s
}
.accordion input:checked ~ div {
	min-height: 0;
	max-height: 200px;
}