*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 1366px;
	margin: 0 auto;
	position: relative;
}
body{
	background: white;
	height: 100%;
	position: relative;
}
.header{
	background: white;
	width: 100%;
}
.header_wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	min-height: 100px;
	padding: 10px 50px;
}
.header_group{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.header_group a{
	
	cursor: pointer;
}
.header_group a:hover{
	opacity: 0.6;
}
.header_logo{
	display: inline-block;
	position: relative;
	height: 32px;
}
.header_logo img{
height: 100%;
display: block;
}
.header_link_tel{
	font-size: 26px;
	line-height: 32px;
	color: grey;
	text-decoration: none;
}
.header_link_tel span{
	font-size: 17px;
	line-height: 32px;
	color: #F7423B;
	
}
.header_link_mail{
	margin-left: 28px;
	font-size: 17px;
	color: #0071BB;
}
.banner{
	width: 100%;
	max-height: 480px;
	background-image: url(img/bg_image.png);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.banner_top{
	max-width: 700px;
	padding: 120px 0;
	min-height: 356px;

}

.banner_top h2{
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-style: normal;
    font-weight: bold;
    font-size: 48px;
	line-height: 56px;
	text-align: center;		
}
.banner_bottom{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 0 0 auto;
	max-height: 124px;
	background-color: rgba(0, 0, 0, 0.6);
}
.banner_wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.item_text{
	margin-top: 24px;
	margin-bottom: 24px;
}
.item_text p{
	color: white;
	font-size: 18px;
	line-height: 25px;
	text-align: right;
	padding-right: 40px;
	border-right: 1px solid white;
}
.item_button{
	min-width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button{
	background: #F7423B;
	border-radius: 4px;
	border: 1px solid #F7423B;
	color: #FFFFFF;
	font-size: 16px;
	text-decoration: none;
	padding: 8px;
	cursor: pointer;
}
.button:hover{
	opacity: 0.8;
}
.page{
	background: white;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
}
.service{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin-top: 60px;
	margin-bottom: 60px;
	max-width: 984px;
	
}
.service_title{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;

}
.service_block{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

}
.constep{
	max-width: 312px;
	margin-top: 38px;
	
}
.context{ 
	background-color: rgba(0, 0, 0, 0.1);
	color: black;
	font-size: 16px;
	border-bottom: 4px, linear-gradient(168.41deg, #1C3254 0%, #F7423B 100%);
}
.bottom_line{
	height: 4px;
	background: linear-gradient(168.41deg, #1C3254 0%, #F7423B 100%);
}
.item_text4, .item_text5, .item_text6{
	min-height: 82px;
}
.item_text1, .item_text2, .item_text3{
	min-height: 119px;
}
.concircle {
	display: inline-block;
	position: absolute;
  }
  
