*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	width: 1366px;
	margin: 0 auto;
	position: relative;
}
body{
	background: white;
	height: 100%;
	position: relative;
	font-family: 'Roboto', sans-serif;
}
.header{
	background: white;
	width: 100%;
}
.header_wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	min-height: 100px;
	padding: 10px 50px;
}
.header_group{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.header_group a{
	
	cursor: pointer;
}
.header_group a:hover{
	opacity: 0.6;
}
.header_logo{
	display: inline-block;
	position: relative;
	height: 32px;
}
.header_logo img{
height: 100%;
display: block;
}
.header_link_tel{
	font-size: 26px;
	line-height: 32px;
	color: grey;
	text-decoration: none;
}
.header_link_tel span{
	font-size: 17px;
	line-height: 32px;
	color: #F7423B;
	
}
.header_link_mail{
	margin-left: 28px;
	font-size: 17px;
	color: #0071BB;
}
/*======================================================================*/
.banner{
	width: 100%;
	max-height: 480px;
	background-image: url(img/bg_image.png);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.banner_top{
	max-width: 700px;
	padding: 120px 0;
	min-height: 356px;

}

.banner_top h2{
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-style: normal;
    font-weight: bold;
    font-size: 48px;
	line-height: 56px;
	text-align: center;		
}
.banner_bottom{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex: 0 0 auto;
	max-height: 124px;
	background-color: rgba(0, 0, 0, 0.6);
}
.banner_wrap{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.item_text{
	margin-top: 24px;
	margin-bottom: 24px;
}
.item_text p{
	color: white;
	font-size: 18px;
	line-height: 25px;
	text-align: right;
	padding-right: 40px;
	border-right: 1px solid white;
}
.item_button{
	min-width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button{
	background: #F7423B;
	border-radius: 4px;
	border: 1px solid #F7423B;
	color: #FFFFFF;
	font-size: 16px;
	text-decoration: none;
	padding: 8px;
	cursor: pointer;
}
.button:hover{
	opacity: 0.8;
}
/*=====================================================================*/
.page{
	background: white;
	width: 100%;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	margin-bottom: 60px;
}
.service{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	max-width: 984px;
	
}
.service_title{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-top: 60px;
	margin-bottom: 12px;

}
.service_block{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
}
.block_item{ /*conctep */
	position: relative; /* для наложения номера*/
	display: flex;
	flex-direction: column;
	width: calc((100% - 48px) / 3);
	margin-top: 38px;
}
.block_item:not(:nth-child(3n)){
	margin-right: 24px;
}
.block_number{
	position: absolute;
	left: 12px;
	top: -20px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #0071BB;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #FFFFFF;
	padding: 9px 14px;
}
/*.block_img{
	 position: relative;   иначе номер нe ложится поверх
}*/

.block_img img{
	width: 100%;
	display: block;
}
.block_text{ 
	display: flex;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 20px 16px;
	flex: 0 1 100%; /*расширяет блок с текстом*/
}
.text_item p{
	color: black;
	font-size: 16px;
}
.bottom_line{
	height: 4px;
	background: linear-gradient(168.41deg, #1C3254 0%, #F7423B 100%);
	flex-shrink: 0; /*не дает сужаться блоку с градиентом*/
}
/*=====================================================================*/

.shop{
	background: #1C3254;
	width: 100%;
	margin-bottom: 167px;

}
.shop_container{
	max-width: 984px;
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	
}

.shop_block{
	width: 50%;
	margin: 60px 0 60px 0;
	padding: 0 30px 0 30px;
}
.shop_block__img{
	position: relative;
	margin: 0 64px 24px 64px;
	border-radius: 50%;
	overflow: hidden;
}

.shop_block__img img{
	width: 100%;
	display: block;
}
.shop_block__title{
	margin-bottom: 16px;
}
.shop_block__title h2{
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: white;
}
.shop_block__text{
	padding: 0 15px;
}
.shop_block__text p{
	font-weight: 300;
	font-size: 16px;
	color: white;
}